/* 마우스 올려주면 45각도로 회전*/

#box{
    width: 50px;
    height: 50px;
    border-radius: 20px;
    position: relative;
    background-color: yellow;
    transition: all ease 2.5s;
}
#box:hover{
    transform: rotate(360deg);
}

#leftbar{
    display: none;
    width: 200px;
    height: 100%;
    background-color: teal;
    position: absolute;
    
    transition: all ease 2s;

}